<div class="col-md-4">
  <div class="card mb-4 box-shadow" data-id="<%= portfolio_item.id %>">
    <%= link_to image_tag(portfolio_img(portfolio_item.thumb_image, 'thumb'), class: 'card-img-top', height: "350px", width: "200px"), portfolio_item %>
    <div class="card-body">
      <p class="card-text item-text">
        <span><%= portfolio_item.title %></span><br>
        <span> <%= portfolio_item.subtitle %></span>
      </p>
    </div>
  </div>
</div>
