<div class="container">
  <h1 class="text-center">Portfolio Items</h1>
</div>
<div class="row <%= "sortable" if logged_in?(:site_admin) %>">
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
</div>
