<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Here are some of the projects I have worked on. Click to see
      details and a video walkthrough of each!</p>
    <p>
      <%= link_to "Find More About Me", about_me_path, class: 'btn btn-primary my-2' %>
      <%= link_to "Contact Me", contact_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>
