<h1 class="cover-heading" id="homeTypeEffect"></h1>
<p class="lead">Trying to get my webpage to work using all sorts of cool stuff. I need to write more so my site looks right</p>
<p class="lead">
  <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
</p>
