<div class="text-center">
  <h1 class="cover-heading">My Online Home is yours to Explore</h1>
  <h2 id="homeTypeEffect"></h2>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
